body{
	margin: 0;
	padding: 0;
	font-size: 30px;
	background: url(img/fond.jpg) no-repeat;
	background-size: cover;
}
.login-box h1{
	font-family:'Dancing Script', cursive;
	font-size: 50px;
	font-weight: bold;
	padding-left: 50px;
}

.select {
	width: 280px;
	position: relative;
	display: grid;

}


.sexe label{
	font-family:'Dancing Script', cursive;
	font-size: 20px;
	font-weight: bold;
	width: 150px;

}

.sexe{
	font-family: 'Dancing Script',cursive;
	font-size: 20px;
	font-weight: bold;
	width: 500px;
}

.hobbies{
	font-size: 20px;
	width: 150px;
	display: inline-block;
}

.hobbies label{
	font-family: 'Dancing Script',cursive;
	font-size: 20px;
	font-weight: bold;
	width: 150px;
	display: block;
}

.birthday{
	width: 500px;
}


.login-box{
	width: 280px;
	position: absolute;
	top: 42%;
	left: 79%;
	transform: translate(-50%, -50%);
	color: white;
}
.text-box{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #FFF;
}
.text-box i{
	width: 20px;
	float: left;
	text-align: center;
	
}
.text-box input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 150px;
	float: left;
	margin: 0 10px;
	
}
.text-box small{
	font-family: sans-serif;
	font-size: 16px;
}

.btn{
	width: 100%;
	background-image: url(img/ballon.png);
	border: thick double #FFF;
	color: white;
	padding: 5px;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	margin: 12px 0;
	transition: 0.3s;
	border-radius: 5px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.btn:hover {
	opacity: 0.8;
}