body{
	margin: 0;
	padding: 0;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	background: url(img/fond.jpg) no-repeat;
	background-size: cover;
}
.login-box h1{
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	font-weight: bold;
	padding-left: 50px;
}

.sexe label{
	font-family: 'Dancing Script', cursive;
	font-size: 25px;
	font-weight: bold;
	font-weight: bold;
}

.sexe{
	font-family: 'Dancing Script', cursive;
	font-size: 16px;
	width: 500px;
}

.birthday{
	width: 500px;
}
.container {
  position: relative;
  padding-left: 2px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px
}


.login-box{
	width: 280px;
	position: absolute;
	top: 35%;
	left: 79%;
	transform: translate(-50%, -50%);
	color: white;
}
.text-box{
	width: 100%;
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #FFF;
}
.text-box i{
	width: 20px;
	float: left;
	text-align: center;
}
.text-box input{
	border: none;
	outline: none;
	background: none;
	color: white;
	font-size: 18px;
	width: 100px;
	float: left;
	margin: 0 10px;
}
.btn{
	width: 100%;
	background-image: url(img/ballon.png);
	border: thick double #FFF;
	color: white;
	padding: 5px;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
	margin: 12px 0;
	transition: 0.3s;
}
.btn:hover {
	opacity: 0.8;
}
}